body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

* {
  // border: 3px solid red;
  color: rgba(0, 0, 0, 0.8);
}
h1 {
  margin: 2rem 5% 0 5%;
  font-weight: 600;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}
h3 {
  text-align: center;
  font-size: clamp(1.1rem, 2.2vw, 2.5rem);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 2rem;
  font-weight: 500;
}

.counter {
  font-size: 6rem;
}

.button-decrease {
}

.button-reset {
}
.button-increase {
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 1rem;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.navigation {
  width: 100%;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem 0;
}

.hidden {
  display: none;
}
.popup {
  position: absolute;
  width: 66%;
  height: 600px;
  top: 100px;
  z-index: 8;
}

.frame {
  // position: absolute;
  width: 100%;
  height: 600px;
  top: 100px;
  z-index: 8;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.406);
  width: 100%;
  height: 1200px;
  z-index: 7;
  filter: blur(5px);
}

.close-button {
  position: absolute;
  top: -67px;
  right: -50px;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.slider li img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin: 0 5% 0.5rem 0;
  shape-outside: circle(50%);
}

.slider li {
  // font-size: 1rem;
  list-style: none;
  display: none;
  margin: 15px 40px;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.slider {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 360px;
}

.slider .show {
  display: block;
}

.button-slider {
  width: 50%;
  margin: 0;
}

.item img:hover {
  transform: scale(1.1);
}

.hex:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bold {
  font-weight: 900;
}
